sfn/br-icsdev-dpmdi-us-east-1-sfn-di-conversion_V3.json
{
  "Comment": "Module for different types of conversions",
  "StartAt": "Conversion",
  "States": {
    "Conversion": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert",
          "IsPresent": true,
          "Next": "b228FullRunConvert"
        }
      ],
      "Default": "SuccessTransactionUpdation"
    },
    "b228FullRunConvert": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmpriceje_glue_b228_split_conversion",
        "Arguments": {
          "--input_filepath_ebcdic.$": "$.StatePayload.fileName",
          "--input_bucket.$": "$.StatePayload.bucket",
          "--input_folder.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.input_folder",
          "--config_filename.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.config_filename",
          "--config_bucket.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.config_bucket",
          "--config_folder.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.config_folder",
          "--output_bucket.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.output_bucket",
          "--output_queue_folder.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.output_queue_folder",
          "--thread_model.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.thread_model",
          "--thread_num.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.thread_num",
          "--batch_size.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.batch_size",
          "--header_queue_folder.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.header_queue_folder",
          "--header_input_folder.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.header_input_folder",
          "--hold_queue_folder.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.hold_queue_folder",
          "--queue_folder.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.queue_folder",
          "--run_type.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.run_type",
          "--trid_file.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.trid_file",
          "--b1_settings.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.b1_settings",
          "--file_validation.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.file_validation",
          "--account_filter.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.account_filter",
          "--s3_batchsize.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.s3_batchsize",
          "--printSuppInd.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.printSuppInd",
          "--rbcfilterenable.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.rbcfilterenable",
          "--rbcacffile.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.rbcacffile",
          "--rbcbranchfile.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfStepsToDone.b228FullRunConvert.rbcbranchfile"
        }
      },
      "Next": "SuccessTransactionUpdation",
      "ResultPath": "$.Output",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmpriceje_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "fileId.$": "$.StatePayload.fileId",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog": "Job completed successfully",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.sfOutputFile",
          "fileStatus": "isprocessing",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.endStep"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "StepFunctionsStartExecutionCheck",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmpriceje_lmbd_transactionupdate_onfailure",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime.$": "$.StatePayload.startDateTime",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfOutputFile",
          "fileStatus": "Failed",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.endStep",
          "inputPath.$": "$.StatePayload.inputPath"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Fail",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput"
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_B228_FULL_CONVERT.sfNextKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "StepFunctionsStartExecutionCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_CONVERSION.sfNextKey",
            "StringEquals": ""
          },
          "Next": "StepFunctionsStartExecution"
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}