sfn/cdm_account_extraction_sfn.json
{
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Next": "SuccessTransactionUpdation",
      "Branches": [
        {
          "StartAt": "PollSQSQueueForAccountsWithAdvisor",
          "States": {
            "PollSQSQueueForAccountsWithAdvisor": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-sqs_operations",
              "Parameters": {
                "QueueUrl.$": "$.StatePayload.SM_ARN_ADVISOREXTRACTION.sfStepsToDone.createadvisorlist.advisorSQSQueue",
                "MaxNumberOfMessages": 2,
                "WaitTimeSeconds": 10,
                "filter_prefix": "advisors_list",
                "Action": "ReceiveMessage"
              },
              "ResultPath": "$.SQSMessagesForAccountsWithAdvisor",
              "Next": "ProcessMessagesForAccountsWithAdvisor"
            },
            "ProcessMessagesForAccountsWithAdvisor": {
              "Type": "Map",
              "ItemsPath": "$.SQSMessagesForAccountsWithAdvisor.Messages",
              "ResultPath": null,
              "MaxConcurrency": 1000,
              "Iterator": {
                "StartAt": "GetFileContentsForAccountsWithAdvisor",
                "States": {
                  "GetFileContentsForAccountsWithAdvisor": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-s3_operations:$LATEST",
                      "Payload": {
                        "bucketName.$": "$.sourceKey.bucketName",
                        "sourceKeys.$": "$.sourceKey.fileName",
                        "s3OperationType": "get_object"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2
                      }
                    ],
                    "ResultPath": "$.GetFileContentsForAccountsWithAdvisorResult",
                    "Next": "TriggerAccountExtractionGlueJobForAccountsWithAdvisor"
                  },
                  "TriggerAccountExtractionGlueJobForAccountsWithAdvisor": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::glue:startJobRun.sync",
                    "Parameters": {
                      "JobName": "br_icsdev_dpmtest_glue_cdm_account_extraction",
                      "Arguments": {
                        "--partyids_list.$": "States.JsonToString($.GetFileContentsForAccountsWithAdvisorResult.Payload.files[0].Content[0])",
                        "--query_to_extract_accounts.$": "$.query_to_extract_accounts_with_fa",
                        "--query_to_extract_transaction.$": "$.query_to_extract_transaction",
                        "--trigger_file_name.$": "$.trigger_file_name",
                        "--client_name.$": "$.client_name",
                        "--driver_layout.$": "$.driver_layout",
                        "--formats.$": "States.JsonToString($.formats)",
                        "--ishouseholdneeded.$": "$.ishouseholdneeded",
                        "--ismulticurrency.$": "$.ismulticurrency",
                        "--deliverytype.$": "$.deliverytype",
                        "--schema.$": "$.schema",
                        "--dbkey.$": "$.dbkey",
                        "--dbname.$": "$.dbname",
                        "--region.$": "$.region",
                        "--table_name_print.$": "$.table_name_print",
                        "--table_name_presentment.$": "$.table_name_presentment"
                      }
                    },
                    "ResultPath": "$.AccountExtractionGlueJobForAccountsWithAdvisorResult",
                    "Next": "GlueJobStatusPollingForAccountsWithAdvisor"
                  },
                  "GlueJobStatusPollingForAccountsWithAdvisor": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-glue_operations:$LATEST",
                    "Parameters": {
                      "JobRunId.$": "$.AccountExtractionGlueJobForAccountsWithAdvisorResult.Id",
                      "Action": "GlueJobStatus",
                      "JobName": "br_icsdev_dpmtest_glue_cdm_account_extraction",
                      "MaxRetries": 15
                    },
                    "ResultPath": "$.GlueJobStatusForAccountsWithAdvisorResult",
                    "Next": "CheckGlueJobStatusForAccountsWithAdvisor"
                  },
                  "CheckGlueJobStatusForAccountsWithAdvisor": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.GlueJobStatusForAccountsWithAdvisorResult.Status",
                        "StringEquals": "SUCCEEDED",
                        "Next": "PollSQSQueueForAccountsWithAdvisorInsideMap"
                      },
                      {
                        "Variable": "$.GlueJobStatusForAccountsWithAdvisorResult.Status",
                        "StringEquals": "FAILED",
                        "Next": "FileFailedForAccountsWithAdvisor"
                      },
                      {
                        "Variable": "$.GlueJobStatusForAccountsWithAdvisorResult.Status",
                        "StringEquals": "RUNNING",
                        "Next": "SleepAndPollGlueJobForAccountsWithAdvisor"
                      }
                    ]
                  },
                  "SleepAndPollGlueJobForAccountsWithAdvisor": {
                    "Type": "Wait",
                    "Seconds": 10,
                    "Next": "GlueJobStatusPollingForAccountsWithAdvisor"
                  },
                  "PollSQSQueueForAccountsWithAdvisorInsideMap": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-sqs_operations:$LATEST",
                      "Payload": {
                        "QueueUrl.$": "$.QueueUrl",
                        "MaxNumberOfMessages": 1,
                        "WaitTimeSeconds": 10,
                        "filter_prefix": "advisors_list",
                        "Action": "ReceiveMessage"
                      }
                    },
                    "ResultPath": "$.SQSMessagesForAccountsWithAdvisorInsideMapResult",
                    "Next": "CheckSQSPollStatusForAccountsWithAdvisor"
                  },
                  "CheckSQSPollStatusForAccountsWithAdvisor": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.SQSMessagesForAccountsWithAdvisorInsideMapResult.Payload.MessageCount",
                        "NumericGreaterThan": 0,
                        "Next": "OverrideSourceKeyForAccountsWithAdvisor"
                      },
                      {
                        "Variable": "$.SQSMessagesForAccountsWithAdvisorInsideMapResult.Payload.MessageCount",
                        "NumericEquals": 0,
                        "Next": "AllFilesProcessedForAccountsWithAdvisor"
                      }
                    ],
                    "Default": "FileFailedForAccountsWithAdvisor"
                  },
                  "OverrideSourceKeyForAccountsWithAdvisor": {
                    "Type": "Pass",
                    "Parameters": {
                      "sourceKey.$": "States.StringToJson($.SQSMessagesForAccountsWithAdvisorInsideMapResult.Payload.Messages[0].Body)",
                      "receiptHandle.$": "$.SQSMessagesForAccountsWithAdvisorInsideMapResult.Payload.Messages[0].ReceiptHandle",
                      "bucketName.$": "$.bucketName",
                      "query_to_extract_accounts_with_fa.$": "$.query_to_extract_accounts_with_fa",
                      "query_to_extract_accounts_without_fa.$": "$.query_to_extract_accounts_without_fa",
                      "query_to_extract_transaction.$": "$.query_to_extract_transaction",
                      "driver_layout.$": "$.driver_layout",
                      "trigger_file_name.$": "$.trigger_file_name",
                      "client_name.$": "$.client_name",
                      "formats.$": "$.formats",
                      "ishouseholdneeded.$": "$.ishouseholdneeded",
                      "ismulticurrency.$": "$.ismulticurrency",
                      "deliverytype.$": "$.deliverytype",
                      "schema.$": "$.schema",
                      "dbkey.$": "$.dbkey",
                      "dbname.$": "$.dbname",
                      "QueueUrl.$": "$.QueueUrl",
                      "region.$": "$.region",
                      "table_name_print.$": "$.table_name_print",
                      "table_name_presentment.$": "$.table_name_presentment"
                    },
                    "Next": "GetFileContentsForAccountsWithAdvisor"
                  },
                  "AllFilesProcessedForAccountsWithAdvisor": {
                    "Type": "Succeed"
                  },
                  "FileFailedForAccountsWithAdvisor": {
                    "Type": "Fail"
                  }
                },
                "ProcessorConfig": {
                  "Mode": "DISTRIBUTED",
                  "ExecutionType": "STANDARD"
                }
              },
              "ItemSelector": {
                "sourceKey.$": "States.StringToJson($$.Map.Item.Value.Body)",
                "receiptHandle.$": "$$.Map.Item.Value.ReceiptHandle",
                "bucketName.$": "$.StatePayload.bucket",
                "trigger_file_name.$": "$.StatePayload.fileId",
                "client_name.$": "$.StatePayload.clientName",
                "query_to_extract_accounts_with_fa.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.accounts_with_fa",
                "query_to_extract_accounts_without_fa.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.accounts_without_fa",
                "query_to_extract_transaction.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.transaction",
                "driver_layout.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.driverlayout",
                "formats.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.formats",
                "ishouseholdneeded.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.ishouseholdneeded",
                "ismulticurrency.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.ismulticurrency",
                "deliverytype.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.deliverytype",
                "schema.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.schema",
                "dbkey.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.dbkey",
                "dbname.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.dbname",
                "region.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.region",
                "table_name_print.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.tablePrint",
                "table_name_presentment.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.tablePresentment",
                "QueueUrl.$": "$.StatePayload.SM_ARN_ADVISOREXTRACTION.sfStepsToDone.createadvisorlist.advisorSQSQueue"
              },
              "Label": "ProcessMessagesForAccountsWithAdvisor",
              "End": true
            }
          }
        },
        {
          "StartAt": "PollSQSQueueForAccountsWithoutAdvisor",
          "States": {
            "PollSQSQueueForAccountsWithoutAdvisor": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-sqs_operations",
              "Parameters": {
                "QueueUrl.$": "$.StatePayload.SM_ARN_ADVISOREXTRACTION.sfStepsToDone.createadvisorlist.accountSQSQueue",
                "MaxNumberOfMessages": 2,
                "WaitTimeSeconds": 10,
                "filter_prefix": "accounts_list",
                "Action": "ReceiveMessage"
              },
              "ResultPath": "$.SQSMessagesForAccountsWithoutAdvisor",
              "Next": "ProcessMessagesForAccountsWithoutAdvisor"
            },
            "ProcessMessagesForAccountsWithoutAdvisor": {
              "Type": "Map",
              "ItemsPath": "$.SQSMessagesForAccountsWithoutAdvisor.Messages",
              "ResultPath": null,
              "MaxConcurrency": 1000,
              "Iterator": {
                "StartAt": "GetFileContentsForAccountsWithoutAdvisor",
                "States": {
                  "GetFileContentsForAccountsWithoutAdvisor": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-s3_operations:$LATEST",
                      "Payload": {
                        "bucketName.$": "$.sourceKey.bucketName",
                        "sourceKeys.$": "$.sourceKey.fileName",
                        "s3OperationType": "get_object"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2
                      }
                    ],
                    "ResultPath": "$.GetFileContentsForAccountsWithoutAdvisorResult",
                    "Next": "TriggerAccountExtractionGlueJobForAccountsWithoutAdvisor"
                  },
                  "TriggerAccountExtractionGlueJobForAccountsWithoutAdvisor": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::glue:startJobRun.sync",
                    "Parameters": {
                      "JobName": "br_icsdev_dpmtest_glue_cdm_account_extraction",
                      "Arguments": {
                        "--partyids_list.$": "States.JsonToString($.GetFileContentsForAccountsWithoutAdvisorResult.Payload.files[0].Content[0])",
                        "--query_to_extract_accounts.$": "$.query_to_extract_accounts_without_fa",
                        "--query_to_extract_transaction.$": "$.query_to_extract_transaction",
                        "--driver_layout.$": "$.driver_layout",
                        "--trigger_file_name.$": "$.trigger_file_name",
                        "--client_name.$": "$.client_name",
                        "--formats.$": "States.JsonToString($.formats)",
                        "--ishouseholdneeded.$": "$.ishouseholdneeded",
                        "--ismulticurrency.$": "$.ismulticurrency",
                        "--deliverytype.$": "$.deliverytype",
                        "--schema.$": "$.schema",
                        "--dbkey.$": "$.dbkey",
                        "--dbname.$": "$.dbname",
                        "--region.$": "$.region",
                        "--table_name_print.$": "$.table_name_print",
                        "--table_name_presentment.$": "$.table_name_presentment"
                      }
                    },
                    "ResultPath": "$.AccountExtractionGlueJobForAccountsWithoutAdvisorResult",
                    "Next": "GlueJobStatusPollingForAccountsWithoutAdvisor"
                  },
                  "GlueJobStatusPollingForAccountsWithoutAdvisor": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-glue_operations:$LATEST",
                    "Parameters": {
                      "JobRunId.$": "$.AccountExtractionGlueJobForAccountsWithoutAdvisorResult.Id",
                      "Action": "GlueJobStatus",
                      "JobName": "br_icsdev_dpmtest_glue_cdm_account_extraction",
                      "MaxRetries": 15
                    },
                    "ResultPath": "$.GlueJobStatusForAccountsWithoutAdvisorResult",
                    "Next": "CheckGlueJobStatusForAccountsWithoutAdvisor"
                  },
                  "CheckGlueJobStatusForAccountsWithoutAdvisor": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.GlueJobStatusForAccountsWithoutAdvisorResult.Status",
                        "StringEquals": "SUCCEEDED",
                        "Next": "PollSQSQueueForAccountsWithoutAdvisorInsideMap"
                      },
                      {
                        "Variable": "$.GlueJobStatusForAccountsWithoutAdvisorResult.Status",
                        "StringEquals": "FAILED",
                        "Next": "FileFailedForAccountsWithoutAdvisor"
                      },
                      {
                        "Variable": "$.GlueJobStatusForAccountsWithoutAdvisorResult.Status",
                        "StringEquals": "RUNNING",
                        "Next": "SleepAndPollGlueJobForAccountsWithoutAdvisor"
                      }
                    ]
                  },
                  "SleepAndPollGlueJobForAccountsWithoutAdvisor": {
                    "Type": "Wait",
                    "Seconds": 10,
                    "Next": "GlueJobStatusPollingForAccountsWithoutAdvisor"
                  },
                  "PollSQSQueueForAccountsWithoutAdvisorInsideMap": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-sqs_operations:$LATEST",
                      "Payload": {
                        "QueueUrl.$": "$.QueueUrl",
                        "MaxNumberOfMessages": 1,
                        "WaitTimeSeconds": 10,
                        "filter_prefix": "accounts_list",
                        "Action": "ReceiveMessage"
                      }
                    },
                    "ResultPath": "$.SQSMessagesForAccountsWithoutAdvisorInsideMapResult",
                    "Next": "CheckSQSPollStatusForAccountsWithoutAdvisor"
                  },
                  "CheckSQSPollStatusForAccountsWithoutAdvisor": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.SQSMessagesForAccountsWithoutAdvisorInsideMapResult.Payload.MessageCount",
                        "NumericGreaterThan": 0,
                        "Next": "OverrideSourceKeyForAccountsWithoutAdvisor"
                      },
                      {
                        "Variable": "$.SQSMessagesForAccountsWithoutAdvisorInsideMapResult.Payload.MessageCount",
                        "NumericEquals": 0,
                        "Next": "AllFilesProcessedForAccountsWithoutAdvisor"
                      }
                    ],
                    "Default": "FileFailedForAccountsWithoutAdvisor"
                  },
                  "OverrideSourceKeyForAccountsWithoutAdvisor": {
                    "Type": "Pass",
                    "Parameters": {
                      "sourceKey.$": "States.StringToJson($.SQSMessagesForAccountsWithoutAdvisorInsideMapResult.Payload.Messages[0].Body)",
                      "receiptHandle.$": "$.SQSMessagesForAccountsWithoutAdvisorInsideMapResult.Payload.Messages[0].ReceiptHandle",
                      "bucketName.$": "$.bucketName",
                      "query_to_extract_accounts_with_fa.$": "$.query_to_extract_accounts_with_fa",
                      "query_to_extract_accounts_without_fa.$": "$.query_to_extract_accounts_without_fa",
                      "query_to_extract_transaction.$": "$.query_to_extract_transaction",
                      "driver_layout.$": "$.driver_layout",
                      "formats.$": "$.formats",
                      "trigger_file_name.$": "$.trigger_file_name",
                      "client_name.$": "$.client_name",
                      "ishouseholdneeded.$": "$.ishouseholdneeded",
                      "ismulticurrency.$": "$.ismulticurrency",
                      "deliverytype.$": "$.deliverytype",
                      "schema.$": "$.schema",
                      "dbname.$": "$.dbname",
                      "dbkey.$": "$.dbkey",
                      "QueueUrl.$": "$.QueueUrl",
                      "region.$": "$.region",
                      "table_name_print.$": "$.table_name_print",
                      "table_name_presentment.$": "$.table_name_presentment"
                    },
                    "Next": "GetFileContentsForAccountsWithoutAdvisor"
                  },
                  "AllFilesProcessedForAccountsWithoutAdvisor": {
                    "Type": "Succeed"
                  },
                  "FileFailedForAccountsWithoutAdvisor": {
                    "Type": "Fail"
                  }
                },
                "ProcessorConfig": {
                  "Mode": "DISTRIBUTED",
                  "ExecutionType": "STANDARD"
                }
              },
              "ItemSelector": {
                "sourceKey.$": "States.StringToJson($$.Map.Item.Value.Body)",
                "receiptHandle.$": "$$.Map.Item.Value.ReceiptHandle",
                "bucketName.$": "$.StatePayload.bucket",
                "trigger_file_name.$": "$.StatePayload.fileId",
                "client_name.$": "$.StatePayload.clientName",
                "query_to_extract_accounts_with_fa.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.accounts_with_fa",
                "query_to_extract_accounts_without_fa.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.accounts_without_fa",
                "query_to_extract_transaction.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.transaction",
                "driver_layout.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.driverlayout",
                "formats.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.formats",
                "ishouseholdneeded.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.ishouseholdneeded",
                "ismulticurrency.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.ismulticurrency",
                "deliverytype.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.deliverytype",
                "schema.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.schema",
                "dbkey.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.dbkey",
                "dbname.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.dbname",
                "region.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.region",
                "table_name_print.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.tablePrint",
                "table_name_presentment.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfStepsToDone.extractaccounts.tableInfo.tablePresentment",
                "QueueUrl.$": "$.StatePayload.SM_ARN_ADVISOREXTRACTION.sfStepsToDone.createadvisorlist.accountSQSQueue"
              },
              "Label": "ProcessMessagesForAccountsWithoutAdvisor",
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ],
      "ResultPath": null
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmtest_pp_transactions:$LATEST",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog": "account is successful",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfOutputFile",
          "fileStatus": "isprocessing",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.endStep",
          "nextstepname.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.name"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.SuccessTransactionUpdationOutput",
      "Next": "StepFunctionsStartExecutionCheck",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmtest_pp_transactions:$LATEST",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime.$": "$.StatePayload.startDateTime",
          "sfInputFile.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfOutputFile",
          "fileStatus": "Failed",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.endStep",
          "inputPath.$": "$.StatePayload.inputPath"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.FailureTransactionUpdationOutput",
      "Next": "Fail"
    },
    "StepFunctionsStartExecutionCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfNextKey",
            "StringEquals": ""
          },
          "Next": "StepFunctionsStartExecution"
        },
        {
          "Variable": "$.StatePayload.SM_ARN_ACCOUNTEXTRACTION.sfNextKey",
          "StringEquals": "",
          "Next": "FailureTransactionUpdation"
        }
      ]
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_DRIVERCREATION.sfKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
