sfn/cdm_metadata_extraction_sfn.json
{
  "Comment": "A description of my state machine",
  "StartAt": "MetaDataExtraction",
  "States": {
    "MetaDataExtraction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmtest_glue_cdm_metadata_extraction",
        "Arguments": {
          "--tableInfo.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfStepsToDone.extractmetadata.tableInfo",
          "--s3_bucket.$": "$.StatePayload.bucket",
          "--s3_wip.$": "$.StatePayload.wipPath",
          "--s3_accountoutputfile.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfStepsToDone.extractmetadata.accountsOutputFile",
          "--trigger_file_name.$": "$.StatePayload.sfInputFile",
          "--s3_outputfiletype.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfStepsToDone.extractmetadata.outputFileType",
          "--sql_queries.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfStepsToDone.extractmetadata.sql_queries"
        }
      },
      "ResultPath": "$.MetaDataExtractionGlueJob.Output",
      "Next": "SuccessTransactionUpdation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmtest_pp_transactions:$LATEST",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog": "Metadata creation is successful",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfOutputFile",
          "fileStatus": "isprocessing",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.endStep",
          "nextstepname.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.name"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.SuccessTransactionUpdationOutput",
      "Next": "StepFunctionsStartExecutionCheck",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmtest_pp_transactions:$LATEST",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime.$": "$.StatePayload.startDateTime",
          "sfInputFile.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfOutputFile",
          "fileStatus": "Failed",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.endStep",
          "inputPath.$": "$.StatePayload.inputPath"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.FailureTransactionUpdationOutput",
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    },
    "StepFunctionsStartExecutionCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfNextKey",
            "StringEquals": ""
          },
          "Next": "StepFunctionsStartExecution"
        },
        {
          "Variable": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfNextKey",
          "StringEquals": "",
          "Next": "FailureTransactionUpdation"
        }
      ]
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_METADATAEXTRACTION.sfNextKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}