sfn/compression.json
{
  "Comment": "Compression",
  "StartAt": "CompressionTypeCheck",
  "States": {
    "CompressionTypeCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "TarFileCreation",
          "Not": {
            "Variable": "$.StatePayload.destinationType",
            "StringEquals": "marcomm"
          }
        }
      ],
      "Default": "ZipFileCreation"
    },
    "TarFileCreation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmdi_glue_tar_file_creation",
        "Arguments": {
          "--inputFileName.$": "$.StatePayload.fileName",
          "--s3BucketOutput.$": "$.StatePayload.bucket",
          "--s3BucketInput.$": "$.StatePayload.bucket",
          "--filePathList.$": "States.JsonToString($.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.tarCreation.filePathList)",
          "--filePatternList.$": "States.JsonToString($.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.tarCreation.filePatternList)",
          "--tarDestinationPath.$": "$.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.tarCreation.tarDestinationPath",
          "--tarType.$": "$.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.tarCreation.tarType",
          "--tarDestinationPrefix.$": "$.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.tarCreation.tarDestinationPrefix",
          "--tarFileName.$": "$.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.tarCreation.tarFileName",
          "--transactionId.$": "$.StatePayload.transactionId",
          "--execution_name.$": "$$.Execution.Name",
          "--execution_id.$": "$$.Execution.Id",
          "--execution_starttime.$": "$$.Execution.StartTime",
          "--statemachine_name.$": "$$.StateMachine.Name",
          "--statemachine_id.$": "$$.StateMachine.Id",
          "--state_name.$": "$$.State.Name",
          "--state_enteredtime.$": "$$.State.EnteredTime",
          "--clientName.$": "$.StatePayload.clientName",
          "--clientID.$": "$.StatePayload.clientID",
          "--applicationName.$": "$.StatePayload.applicationName",
          "--teamsId.$": "$.StatePayload.teamsId",
          "--corp": "99999",
          "--cycle": "9"
        }
      },
      "Next": "SuccessTransactionUpdation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.errorDetails",
          "Next": "FailureTransactionUpdation"
        }
      ],
      "ResultPath": "$.tarFileCreationOutput",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "JitterStrategy": "NONE"
        }
      ]
    },
    "ZipFileCreation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmdi_glue_zip_file_creation",
        "Arguments": {
          "--inputFileName.$": "$.StatePayload.fileName",
          "--s3BucketOutput.$": "$.StatePayload.bucket",
          "--s3BucketInput.$": "$.StatePayload.bucket",
          "--filePathList.$": "States.JsonToString($.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.zipFileCreation.filePathList)",
          "--filePatternList.$": "States.JsonToString($.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.zipFileCreation.filePatternList)",
          "--transactionId.$": "$.StatePayload.transactionId",
          "--execution_name.$": "$$.Execution.Name",
          "--execution_id.$": "$$.Execution.Id",
          "--execution_starttime.$": "$$.Execution.StartTime",
          "--statemachine_name.$": "$$.StateMachine.Name",
          "--statemachine_id.$": "$$.StateMachine.Id",
          "--state_name.$": "$$.State.Name",
          "--state_enteredtime.$": "$$.State.EnteredTime",
          "--clientName.$": "$.StatePayload.clientName",
          "--clientID.$": "$.StatePayload.clientID",
          "--applicationName.$": "$.StatePayload.applicationName",
          "--teamsId.$": "$.StatePayload.teamsId",
          "--zipDestination.$": "$.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.zipFileCreation.zipDestination",
          "--zipFileName.$": "$.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.zipFileCreation.zipFileName",
          "--zipType.$": "$.StatePayload.SM_ARN_COMPRESSION.sfStepsToDone.zipFileCreation.zipType"
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Error creating zip file",
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ],
      "Next": "SuccessTransactionUpdation",
      "ResultPath": "$.ZipFileCreationOutput",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "JitterStrategy": "NONE"
        }
      ]
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "fileId.$": "$.StatePayload.fileId",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_COMPRESSION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog": "Compression is Successful",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_COMPRESSION.sfOutputFile",
          "fileStatus": "isprocessing",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_COMPRESSION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_COMPRESSION.endStep"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "JitterStrategy": "NONE"
        }
      ],
      "Next": "StepFunctionsStartExecutionCheck",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime.$": "$.StatePayload.startDateTime",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_COMPRESSION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_COMPRESSION.sfOutputFile",
          "fileStatus": "Failed",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_COMPRESSION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_COMPRESSION.endStep",
          "inputPath.$": "$.StatePayload.inputPath"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Fail",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput"
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_COMPRESSION.sfNextKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "StepFunctionsStartExecutionCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "StepFunctionsStartExecution",
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_COMPRESSION.sfNextKey",
            "StringEquals": ""
          }
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONPath"
}