sfn/orders_data_aggregation.json
{
  "Comment": "Orders data aggregation",
  "StartAt": "syncCompletedTransactions",
  "States": {
    "syncCompletedTransactions": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "send_retrieve_message",
        "Arguments": {
          "--clientName.$": "$.StatePayload.clientName",
          "--transactionId.$": "$.StatePayload.transactionId",
          "--bucket.$": "$.StatePayload.bucket",
          "--objectKey.$": "$.StatePayload.key",
          "--dbName.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.sendRetrieveMessage.dbName",
          "--ssmDBKey.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.sendRetrieveMessage.ssmDBKey",
          "--execution_name.$": "$$.Execution.Name",
          "--execution_id.$": "$$.Execution.Id",
          "--execution_starttime.$": "$$.Execution.StartTime",
          "--statemachine_name.$": "$$.StateMachine.Name",
          "--statemachine_id.$": "$$.StateMachine.Id",
          "--state_name.$": "$$.State.Name",
          "--state_enteredtime.$": "$$.State.EnteredTime",
          "--clientID.$": "$.StatePayload.clientID",
          "--applicationName.$": "$.StatePayload.applicationName",
          "--teamsId.$": "$.StatePayload.teamsId",
          "--KAFKA_API_URL.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.sendRetrieveMessage.KAFKA_API_URL"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "JitterStrategy": "NONE"
        }
      ],
      "ResultPath": "$.SyncCompletedTransactionsOutput",
      "Next": "MoveCompletedOrderDocuments",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails",
          "Comment": "Syncing Completed Order Transactions in Database or through Kafka Messages"
        }
      ]
    },
    "MoveCompletedOrderDocuments": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmdi_glue_copy_files",
        "Arguments": {
          "--region.$": "$.StatePayload.region",
          "--outputBucketName.$": "$.StatePayload.bucket",
          "--outputDir.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.moveCompletedOrderDocuments.outputDir",
          "--dbName.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.moveCompletedOrderDocuments.dbname",
          "--schema.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.moveCompletedOrderDocuments.dbschema",
          "--transactionId.$": "$.StatePayload.transactionId",
          "--execution_name.$": "$$.Execution.Name",
          "--execution_id.$": "$$.Execution.Id",
          "--execution_starttime.$": "$$.Execution.StartTime",
          "--statemachine_name.$": "$$.StateMachine.Name",
          "--statemachine_id.$": "$$.StateMachine.Id",
          "--state_name.$": "$$.State.Name",
          "--state_enteredtime.$": "$$.State.EnteredTime",
          "--clientName.$": "$.StatePayload.clientName",
          "--clientID.$": "$.StatePayload.clientID",
          "--applicationName.$": "$.StatePayload.applicationName",
          "--teamsId.$": "$.StatePayload.teamsId",
          "--ssmdbKey.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.moveCompletedOrderDocuments.ssmDBKey"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "JitterStrategy": "NONE"
        }
      ],
      "Next": "GenerateDestinationMetadata",
      "ResultPath": "$.MoveCompletedOrderDocumentsOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Failed copying Completed Order documents",
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ],
      "TimeoutSecondsPath": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.moveCompletedOrderDocuments.timeoutSeconds"
    },
    "GenerateDestinationMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmtest_pp_brx_trigger",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "bucket.$": "$.StatePayload.bucket",
          "destinationKey.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.destinationKey",
          "destinationFileName.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.triggerFileName",
          "onpremOutputFileName.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.onpremOutputFileName",
          "onpremOutputPath.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.brxOutputPath",
          "marcommOutputFileName.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.marcommOutputFileName",
          "marcommOutputPath.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.brxOutputPath",
          "destinationType.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.destinationType",
          "jobName.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.jobName",
          "execution_name.$": "$$.Execution.Name",
          "execution_id.$": "$$.Execution.Id",
          "execution_starttime.$": "$$.Execution.StartTime",
          "statemachine_name.$": "$$.StateMachine.Name",
          "statemachine_id.$": "$$.StateMachine.Id",
          "state_name.$": "$$.State.Name",
          "state_enteredtime.$": "$$.State.EnteredTime",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "applicationName.$": "$.StatePayload.applicationName",
          "teamsId.$": "$.StatePayload.teamsId",
          "brxOutputTriggerFile.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.brxOutputTriggerFile",
          "marcommSLA.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfStepsToDone.brxTrigger.marcommSLA"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "JitterStrategy": "NONE"
        }
      ],
      "Next": "SuccessTransactionUpdation",
      "ResultPath": "$.GenerateDestinationMetadataOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Error generating destination metadata file",
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmharppada_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "fileId.$": "$.StatePayload.fileId",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog.$": "$.GenerateDestinationMetadataOutput.Payload.body",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfOutputFile",
          "fileStatus": "isprocessing",
          "fileLog": "",
          "secIndexKeyName.$": "$.StatePayload.secIndexKeyName",
          "secIndexKeyValue.$": "$.StatePayload.secIndexKeyValue",
          "initStep.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.endStep"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "JitterStrategy": "NONE"
        }
      ],
      "Next": "StepFunctionsStartExecutionCheck",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmharppada_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime.$": "$.StatePayload.startDateTime",
          "sfInputFile.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfOutputFile",
          "fileStatus": "Failed",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.endStep",
          "inputPath.$": "$.StatePayload.inputPath"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Fail",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput"
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfNextKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "StepFunctionsStartExecutionCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "StepFunctionsStartExecution",
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_DOCUMENT_AGGREGATION.sfNextKey",
            "StringEquals": ""
          }
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONPath"
}