sfn/sfn-di-quarter_validation.json
{
  "Comment": "A description of Quarter validation",
  "StartAt": "Quarter_validation",
  "States": {
    "Quarter_validation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmdi_glue_quarter_validation",
        "Arguments": {
          "--bucket_name.$": "$.StatePayload.bucket",
          "--input_file.$": "$.StatePayload.fileName",
          "--validate_folder.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.sfStepsToDone.quarter_validation.validate_folder",
          "--validate_save_folder.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.sfStepsToDone.quarter_validation.validate_save_folder",
          "--validate_failed_folder.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.sfStepsToDone.quarter_validation.validate_failed_folder",
          "--duplicated_folder.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.sfStepsToDone.quarter_validation.duplicated_folder",
          "--input_folder.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.sfStepsToDone.quarter_validation.input_folder"
        }
      },
      "ResultPath": "$.Output",
      "Next": "SuccessTransactionUpdation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "fileId.$": "$.StatePayload.fileName",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.sfOutputFile",
          "fileStatus": "Failed",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.endStep"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.FailureTransactionUpdationOutput",
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "fileId.$": "$.StatePayload.fileName",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog": "",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.sfOutputFile",
          "fileStatus": "in progress",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.endStep"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.SuccessTransactionUpdationOutput",
      "Next": "Choice",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "StepFunctionsStartExecution",
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.sfNextKey",
            "StringEquals": ""
          }
        }
      ],
      "Default": "Success"
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_QUARTER_VALIDATION.sfNextKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}