sfn/sfn-di-stagefiles.json
{
  "Comment": "A description of my state machine",
  "StartAt": "StageFiles",
  "States": {
    "StageFiles": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_stage_files",
        "Payload": {
          "bucket.$": "$.StatePayload.bucket",
          "move_flag.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.move_flag",
          "include_timestamp.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.include_timestamp",
          "file_path.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.file_path",
          "file_key.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.file_key",
          "file_pattern.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.file_pattern",
          "destinationPath.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.destinationPath",
          "position_removal.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.position_removal",
          "rename_flag.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.rename_flag",
          "position_insertion.$": "$.StatePayload.SM_ARN_STAGE.sfStepsToDone.StageFiles.position_insertion"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.ArchiveLambdaOutput",
      "Next": "SuccessTransactionUpdation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.errorDetails",
          "Next": "FailureTransactionUpdation"
        }
      ]
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "fileId.$": "$.StatePayload.archivalFile",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_STAGE.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog.$": "$.ArchiveLambdaOutput.Payload.body",
          "sfInputFile.$": "$.StatePayload.fileName",
          "sfOutputFile.$": "$.StatePayload.fileName",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "fileStatus": "Completed",
          "fileLog.$": "$.ArchiveLambdaOutput.Payload.body",
          "initStep.$": "$.StatePayload.SM_ARN_STAGE.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_STAGE.endStep"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "StepFunctionsStartExecutionCheck",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_STAGE.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "fileStatus": "Failed",
          "sfInputFile.$": "$.StatePayload.fileName",
          "sfOutputFile.$": "$.StatePayload.fileName",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_STAGE.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_STAGE.endStep",
          "inputPath.$": "$.StatePayload.inputPath"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.FailureTransactionUpdationOutput",
      "Next": "Fail"
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_STAGE.sfNextKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "StepFunctionsStartExecutionCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_STAGE.sfNextKey",
            "StringEquals": ""
          },
          "Next": "StepFunctionsStartExecution"
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}