sfn/sfn_di_merge_files.json
{
  "Comment": "Merge Files",
  "StartAt": "loadCheck",
  "States": {
    "loadCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "MergeFiles",
          "Variable": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeInfo",
          "IsPresent": true
        },
        {
          "Next": "MergeInsertFiles",
          "Variable": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeInsertInfo",
          "IsPresent": true
        },
        {
          "Next": "MergeMultiFile",
          "Variable": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeMultiFile",
          "IsPresent": true
        }
      ],
      "Default": "MergeFiles"
    },
    "MergeFiles": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmkhadkab_glue_merge_files",
        "Arguments": {
          "--inputFileName.$": "$.StatePayload.fileName",
          "--bucket.$": "$.StatePayload.bucket",
          "--fileId.$": "$.StatePayload.fileId",
          "--key.$": "$.StatePayload.key",
          "--fileName.$": "$.StatePayload.fileName",
          "--sfInputFile.$": "$.StatePayload.sfInputFile",
          "--mergeInfo.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeInfo",
          "--execution_name.$": "$$.Execution.Name",
          "--execution_id.$": "$$.Execution.Id",
          "--execution_starttime.$": "$$.Execution.StartTime",
          "--statemachine_name.$": "$$.StateMachine.Name",
          "--statemachine_id.$": "$$.StateMachine.Id",
          "--state_name.$": "$$.State.Name",
          "--state_enteredtime.$": "$$.State.EnteredTime",
          "--clientName.$": "$.StatePayload.clientName",
          "--clientID.$": "$.StatePayload.clientID",
          "--applicationName.$": "$.StatePayload.applicationName",
          "--teamsId.$": "$.StatePayload.teamsId"
        }
      },
      "ResultPath": "$.mergeOutput",
      "Next": "SuccessTransactionUpdation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.errorDetails",
          "Next": "FailureTransactionUpdation"
        }
      ]
    },
    "MergeInsertFiles": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmdi_glue_merge_insert_files",
        "Arguments": {
          "--inputFileName.$": "$.StatePayload.fileName",
          "--bucket.$": "$.StatePayload.bucket",
          "--fileId.$": "$.StatePayload.fileId",
          "--key.$": "$.StatePayload.key",
          "--fileName.$": "$.StatePayload.fileName",
          "--sfInputFile.$": "$.StatePayload.sfInputFile",
          "--mergeInsertInfo.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeInsertInfo",
          "--execution_name.$": "$$.Execution.Name",
          "--execution_id.$": "$$.Execution.Id",
          "--execution_starttime.$": "$$.Execution.StartTime",
          "--statemachine_name.$": "$$.StateMachine.Name",
          "--statemachine_id.$": "$$.StateMachine.Id",
          "--state_name.$": "$$.State.Name",
          "--state_enteredtime.$": "$$.State.EnteredTime",
          "--clientName.$": "$.StatePayload.clientName",
          "--clientID.$": "$.StatePayload.clientID",
          "--applicationName.$": "$.StatePayload.applicationName",
          "--teamsId.$": "$.StatePayload.teamsId"
        }
      },
      "ResultPath": "$.mergeOutput",
      "Next": "SuccessTransactionUpdation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.errorDetails",
          "Next": "FailureTransactionUpdation"
        }
      ]
    },
    "MergeMultiFile": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmkhadkab_glue_merge_multi_files",
        "Arguments": {
          "--input-file.$": "$.StatePayload.sfInputFile",
          "--s3-bucket.$": "$.StatePayload.bucket",
          "--fileId.$": "$.StatePayload.fileId",
          "--key.$": "$.StatePayload.key",
          "--fileName.$": "$.StatePayload.fileName",
          "--sfInputFile.$": "$.StatePayload.sfInputFile",
          "--execution_name.$": "$$.Execution.Name",
          "--execution_id.$": "$$.Execution.Id",
          "--execution_starttime.$": "$$.Execution.StartTime",
          "--statemachine_name.$": "$$.StateMachine.Name",
          "--statemachine_id.$": "$$.StateMachine.Id",
          "--state_name.$": "$$.State.Name",
          "--state_enteredtime.$": "$$.State.EnteredTime",
          "--clientName.$": "$.StatePayload.clientName",
          "--clientID.$": "$.StatePayload.clientID",
          "--applicationName.$": "$.StatePayload.applicationName",
          "--teamsId.$": "$.StatePayload.teamsId",
          "--input-folder.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeMultiFile.input-folder",
          "--output-folder.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeMultiFile.output-folder",
          "--report-folder.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeMultiFile.report-folder",
          "--header-types.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeMultiFile.header-types",
          "--record-types.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeMultiFile.record-types",
          "--trailer-types.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeMultiFile.trailer-types",
          "--sub_furm.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfStepsToDone.mergeMultiFile.sub_furm"
        }
      },
      "ResultPath": "$.mergeOutput",
      "Next": "SuccessTransactionUpdation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.errorDetails",
          "Next": "FailureTransactionUpdation"
        }
      ]
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "fileId.$": "$.StatePayload.fileId",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_MERGE_FILES.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog": "Compression is Successful",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.sfInputFile",
          "sfOutputFile": " ",
          "fileStatus": "isprocessing",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_MERGE_FILES.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_MERGE_FILES.endStep"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "StepFunctionsStartExecutionCheck",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmdi_lmbd_transactions",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime.$": "$.StatePayload.startDateTime",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_MERGE_FILES.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.sfInputFile",
          "sfOutputFile": " ",
          "fileStatus": "Failed",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_MERGE_FILES.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_MERGE_FILES.endStep",
          "inputPath.$": "$.StatePayload.inputPath"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Fail",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput"
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_MERGE_FILES.sfNextKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "StepFunctionsStartExecutionCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "StepFunctionsStartExecution",
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_MERGE_FILES.sfNextKey",
            "StringEquals": ""
          }
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONPath"
}