sfn/ur_attribute.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Is tar required",
  "States": {
    "Is tar required": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.StatePayload.SM_ARN_CONVERSION.sfStepsToDone.tarCreation",
          "IsPresent": false,
          "Next": "TarFileCreation"
        }
      ],
      "Default": "property file creation"
    },
    "TarFileCreation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmtest_glue_tarfile_creation",
        "Arguments": {
          "--inputFileName.$": "$.StatePayload.fileName",
          "--s3BucketOutput.$": "$.StatePayload.bucket",
          "--s3BucketInput.$": "$.StatePayload.bucket",
          "--filePathList.$": "States.JsonToString($.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.tarCreation.filePathList)",
          "--filePatternList.$": "States.JsonToString($.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.tarCreation.filePatternList)",
          "--tarDestinationPath.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.tarCreation.tarDestinationPath",
          "--tarType.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.tarCreation.tarType",
          "--tarDestinationPrefix.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.tarCreation.tarDestinationPrefix",
          "--tarFileName.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.tarCreation.tarFileName",
          "--corp": "99999",
          "--cycle": "9"
        }
      },
      "Next": "property file creation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.errorDetails",
          "Next": "FailureTransactionUpdation"
        }
      ],
      "ResultPath": "$.tarFileCreationOutput",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Glue.ConcurrentRunsExceededException"
          ],
          "BackoffRate": 2,
          "MaxAttempts": 5,
          "Comment": "retrier",
          "IntervalSeconds": 30
        }
      ]
    },
    "property file creation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:dpmdev-di-lambda-ur_property_file_creation:$LATEST",
        "Payload": {
          "bucketName.$": "$.StatePayload.bucket",
          "inputFileName.$": "$.StatePayload.fileName",
          "propertyConfigPath.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.propertyFileCreation.propertyConfigPath",
          "propertyConfigPattern.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.propertyFileCreation.propertyConfigPattern",
          "propertyConfigKey.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.propertyFileCreation.propertyConfigKey",
          "propertyFileDestinationPath.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.propertyFileCreation.propertyFileDestinationPath",
          "propertyFileDestinationPrefix.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.propertyFileCreation.propertyFileDestinationPrefix",
          "urPayloadPath.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.propertyFileCreation.urPayloadPath",
          "urPayloadPattern.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.propertyFileCreation.urPayloadPattern"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 30,
          "MaxAttempts": 5
        }
      ],
      "Next": "ZipFileCreation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.errorDetails",
          "Next": "FailureTransactionUpdation"
        }
      ],
      "ResultPath": "$.propertyFileCreationOutput"
    },
    "ZipFileCreation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "br_icsdev_dpmtest_ZipFile_Creation",
        "Arguments": {
          "--inputFileName.$": "$.StatePayload.fileName",
          "--s3BucketOutput.$": "$.StatePayload.bucket",
          "--s3BucketInput.$": "$.StatePayload.bucket",
          "--filePathList.$": "States.JsonToString($.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.zipFileCreation.filePathList)",
          "--filePatternList.$": "States.JsonToString($.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.zipFileCreation.filePatternList)",
          "--zipDestination.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfStepsToDone.zipFileCreation.zipDestination",
          "--zipFileName": "Placeholder",
          "--zipType": "UR_ZIP"
        }
      },
      "Next": "SuccessTransactionUpdation",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ],
      "ResultPath": "$.ZipFileCreationOutput",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Glue.ConcurrentRunsExceededException"
          ],
          "BackoffRate": 2,
          "MaxAttempts": 5,
          "Comment": "retrier",
          "IntervalSeconds": 30
        }
      ]
    },
    "SuccessTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmtest_pp_transactions:$LATEST",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "isRejected.$": "$.StatePayload.isRejected",
          "fileId.$": "$.StatePayload.fileId",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime": "",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Succeeded",
          "sfLog": "Succeeded",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfOutputFile",
          "fileStatus": "isprocessing",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.endStep",
          "secIndexKeyName.$": "$.propertyFileCreationOutput.Payload.secIndexKeyName",
          "secIndexKeyValue.$": "$.propertyFileCreationOutput.Payload.secIndexKeyValue"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "StepFunctionsStartExecutionCheck",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureTransactionUpdation",
          "ResultPath": "$.errorDetails"
        }
      ]
    },
    "FailureTransactionUpdation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:187777304606:function:br_icsdev_dpmtest_transaction_table_update_for_failure:$LATEST",
        "Payload": {
          "transactionId.$": "$.StatePayload.transactionId",
          "fileName.$": "$.StatePayload.fileName",
          "fileId.$": "$.StatePayload.fileId",
          "isRejected.$": "$.StatePayload.isRejected",
          "startDateTime.$": "$.StatePayload.startDateTime",
          "endDateTime.$": "$.StatePayload.startDateTime",
          "stepFunctions.$": "$.StatePayload.stepFunctions",
          "clientName.$": "$.StatePayload.clientName",
          "clientID.$": "$.StatePayload.clientID",
          "documentType.$": "$.StatePayload.documentType",
          "arnStepName.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.name",
          "sfInstance.$": "$$.Execution.Id",
          "sfStatus": "Failed",
          "sfLog.$": "$.errorDetails.Cause",
          "sfStartTime.$": "$$.Execution.StartTime",
          "sfEndTime": "",
          "sfInputFile.$": "$.StatePayload.sfInputFile",
          "sfOutputFile.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfOutputFile",
          "fileStatus": "Failed",
          "fileLog": "",
          "initStep.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.initStep",
          "endStep.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.endStep"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Fail",
      "ResultPath": "$.UpdateTransactionTableLambdaOutput"
    },
    "StepFunctionsStartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfNextKey",
        "Input": {
          "StatePayload.$": "$.StatePayload"
        }
      },
      "Next": "Success"
    },
    "StepFunctionsStartExecutionCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.StatePayload.SM_ARN_UR_ATTRIBUTES.sfNextKey",
            "StringEquals": ""
          },
          "Next": "StepFunctionsStartExecution"
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}